<table>
    <tbody>
        <tr>
            <td>Name:</td>
            <td><input type="text" [formControl]="nameFormControl"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" [formControl]="descriptionFormControl"/></td>
        </tr>
        <tr>
            <td>Release Date:</td>
            <td><input type="date" [formControl]="releaseDateFormControl"/></td>
        </tr>
    </tbody>
</table>
<button style="margin-right: 10px;" (click)="reset()">Reset</button>
<button style="margin-right: 10px;" (click)="edit()">Edit</button>
<button (click)="delete()">Delete</button>