<ng-container *ngIf="movieList$ | async as movieList">
    <input type="text" [formControl]="searchMovieFormControl"/><br/>
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let movie of filteredMovieList$ | async">
                <td><a [routerLink]="['../movie', movie.pk]" routerLinkActive="active">{{movie.fields.name}}</a></td>
                <td>{{movie.fields.description}}</td>
                <td>{{movie.fields.release_date}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="!(movieList$ | async)">
    Waiting for movies to load ....
</ng-container>